<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 details">
      <div class="img">
        <img [src]="coinData?.image?.large" alt="" />
        <h3 class="text-center" style="font-size: 23px">{{ coinData.name }}</h3>

        <div class="more-details">
          <span class="title">Rank: </span
          ><span class="value">{{ coinData.market_cap_rank }}</span
          ><br />
          <hr />
          <span class="title">Current Price: </span
          ><span class="value">{{
            coinData.market_data.current_price.usd
              | currency: currency:"symbol-narrow":"1.1-9"
          }}</span>
          <br />
          <hr />
          <span class="title">Market Cap: </span
          ><span class="value">{{
            coinData.market_data.market_cap.usd
              | currency: currency:"symbol-narrow":"1.1-9"
          }}</span>
          <hr />
          <h5 [innerHTML]="coinData?.description?.en"></h5>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <canvas
        style="height: 300px"
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
      ></canvas>
      <div class="d-flex juctigy-contetn-around">
        <button (click)="getGraphData(1)" class="btn btn-custom">Day</button>
        <button (click)="getGraphData(30)" class="btn btn-custom">Month</button>
        <button (click)="getGraphData(90)" class="btn btn-custom">
          3 Months
        </button>
        <button (click)="getGraphData(365)" class="btn btn-custom">Year</button>
      </div>
    </div>
  </div>
</div>
